<!DOCTYPE html> 
<html>
<head>
    <title></title>
</head>
<body>
    <h1>My Personal Website</h1>


        <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.6435-9/163156679_3686179684769272_4231692968964567211_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_eui2=AeHL2Kaa33f0_Js_nlNQZajdaXhC9P9hOhVpeEL0_2E6FYh5nmam3qy1uA2vTQ1sfemJa9KJkyLOSBDJwp_i38wE&_nc_ohc=qUyjOR9gFCUAX9zZlYy&tn=y3xdB3DwurbTgT46&_nc_ht=scontent.fmnl3-2.fna&oh=00_AT-uox8zyQcACXU_aXrn2wVn0e8QthIGVBTeC-nnUZAxyA&oe=61FC35F9">
        <h4 class="name">Lobrigo, Brian L.</h4>
        <p style="font-style: italic;color: rgb(73, 72, 72);">Future Programmer and Web Developer</p>


</body>
</html>
<a href="home.component.html"><button type="button" class="">Home</button></a>
<a href="profile.component.html"><button type="button" class="">Profile</button></a>
<a href="gallery.component.html"><button type="button" class="">Gallery</button></a>
<a href="Contact.component.html"><button type="button" class="">Contact</button></a>


